<stripe-block [color]="color" class="wide-stripe-block">
  <div class="issue-wrapper">
    <div class="issue-description">{{issue.description.substr(0, 50) + (issue.description.length > 50 ? '...' : '')}}</div>
    <div class="row">
      <div class="col-xs-6">
        <div><strong>Status:</strong> {{issue.statusName}}</div>
        <div><strong>Priority:</strong> {{priorities[issue.priority].name}}</div>
        <div><strong>Type:</strong> {{types[issue.type].name}}</div>
      </div>
      <div class="col-xs-6">
        <div *ngIf="issue.startDate"><strong>Start date:</strong> {{issue.startDate}}</div>
        <div *ngIf="issue.endDate"><strong>End date:</strong> {{issue.endDate}}</div>
      </div>
    </div>
    <div class="issue-dev" *ngIf="issue.userName">
      <span class="font-16">{{issue.userName}}</span>
    </div>
  </div>
</stripe-block>
