@import "../../../../../styles";
:host {
  display: block;
  float: left;
}

.issue-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.issue-dev {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
.issue-description {
  padding-bottom: 10px;
}
