@import '../../../styles';

.footer {
  padding-left: $side-offset;
  line-height: $footer-height;
  height: $footer-height;
  background-color: $gray-color;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
}
