@import "~bootstrap/dist/css/bootstrap.min.css";

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Medium');
@import url('https://fonts.googleapis.com/css?family=Roboto+Regular');
@import url('https://fonts.googleapis.com/css?family=Roboto+Light');

$dark-primary-color: #0288D1;
$primary-color: #03A9F4;
$light-primary-color: #B3E5FC;
$text-color: #FFFFFF;
$accent-color: #03A9F4;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$danger-color: #C43E3E;
$bg-color: #ECEBEB;
$gray-blue-color: #89B3D1;
$green-color: #00A651;
$yellow-color: #FFF568;
$gray-color: #C2C2C2;
$light-text-color: #E4E4E4;

$box-shadow-reg: rgba(72, 72, 72, 0.22);
$box-shadow-light: rgba(72, 72, 72, 0.17);

$footer-height: 54px;
$header-height: 54px;
$side-offset: 110px;

html, body {
  height: 100%;
  margin: 0;
  position: relative;
}

* {
  font-family: 'Roboto', sans-serif;
}

.font-36 {
  font-family: 'Roboto Medium', sans-serif !important;
  font-size: 36px !important;
}

.font-32 {
  font-family: 'Roboto Medium', sans-serif !important;
  font-size: 32px !important;
  color: $primary-text-color !important;
}

.font-20 {
  font-family: 'Roboto Regular', sans-serif !important;
  font-size: 20px !important;
  color: $primary-text-color !important;
}

.font-18 {
  font-family: 'Roboto Regular', sans-serif !important;
  font-size: 18px !important;
  color: #8C8C8C !important;
}

.font-18-light {
  font-family: 'Roboto Regular', sans-serif !important;
  font-size: 18px !important;
  color: $light-text-color !important;
}

.font-16 {
  font-family: 'Roboto Light', sans-serif !important;
  font-size: 16px !important;
  color: $secondary-text-color !important;
}

.font-12 {
  font-family: 'Roboto', sans-serif !important;
  font-size: 12px !important;
}

.dark-primary-bg {
  background-color: $dark-primary-color !important;
}

.primary-bg {
  background-color: $primary-color !important;
}

.light-primary-bg {
  background-color: $light-primary-color !important;
}

.accent-bg {
  background-color: $accent-color !important;
}

.danger-bg {
  background-color: $danger-color !important;
}

.bg {
  background-color: $bg-color !important;
}

.gray-blue-color {
  background-color: $gray-blue-color !important;
}

.glyphicon {
  margin-right: 5px !important;
}

.pcs-text-input, .pcs-textarea {
  width: 410px;
  max-width: 100%;
  border: none;
  font-size: 14px;
  color: $secondary-text-color;
  box-shadow: 2px 3px 9.5px 0.5px $box-shadow-light;
  margin: 0 0 10px;
}

.pcs-text-input {
  height: 45px;
  padding-left: 25px;
}

.pcs-textarea {
  height: 162px;
  padding: 25px 5px 5px 25px;
}

.pcs-search-input, .pcs-select {
  height: 28px;
  background-color: $text-color;
  color: $dark-primary-color;
  border: solid 1px $light-primary-color;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  box-shadow: 2px 3px 9.5px 0.5px $box-shadow-light;
  padding-left: 11px;
  margin: 0;
}

.pcs-select {
  width: 150px;
}

.pcs-search-input {
  width: 410px;
}

.pcs-danger-button, .pcs-action-button {
  height: 45px;
  box-shadow: 2px 3px 9.5px 0.5px $box-shadow-light;
  font-size: 15px;
  padding: 0;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  width: 210px;
  max-width: 100%;
}

.pcs-danger-button {
  background-color: $danger-color;
  border: none;
  color: $text-color;
}

.pcs-danger-button:disabled {
  background-color: $text-color;
  border: solid 2px $danger-color;
  color: $danger-color;
}

.pcs-action-button {
  background-color: $dark-primary-color;
  border: none;
  color: $text-color;
}

.pcs-action-button:disabled {
  background-color: $text-color;
  border: solid 2px $dark-primary-color;
  color: $dark-primary-color;
}

.stripe-block {
  background-color: $text-color;
  margin: 5px 10px;
  box-shadow: 5px 10px 22.8px 1.2px $box-shadow-reg;
  width: 200px;
  height: 140px;
  display: inline-block;

  .stripe {
    width: 100%;
    height: 9px;
    box-shadow: 2px 3px 9.5px 0.5px $box-shadow-light;
  }

  .stripe-block-content {
    padding: 15px;
    width: 100%;
    height: 100%;
  }
}

.empty-block {
  background-color: $text-color;
  box-shadow: 5px 10px 22.8px 1.2px $box-shadow-reg;
  width: 323px;
  height: 325px;
  display: inline-block;
  padding: 15px;
  margin: 5px;
}

.multiline-ellipsis {
  word-wrap: break-word;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}

.multiline-ellipsis:before {
  content: '...';
  position: absolute;
  right: 0.5em;
  bottom: 0;
}

.multiline-ellipsis:after {
  content: '';
  position: absolute;
  right: 0.5em;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: $text-color;
}

.content-full {
  width: 100%;
  min-height: 100%;
}

.content-full.container-fluid {
  margin-bottom: $footer-height;
  padding-top: $header-height;
  min-height: calc(100% - #{$footer-height});
  padding-right: $side-offset;
  padding-left: $side-offset;
}

.pcs-logo, .pcs-logo:hover, .pcs-logo:active, .pcs-logo:visited, .pcs-logo:link {
  color: $text-color;
  text-decoration: none;
  height: 54px;
  width: 54px;
  display: inline-block;
}

.pcs-logo img {
  width: 54px;
  height: 54px;
  position: absolute;
}
