<empty-block (click)="goToProjectPage()">
  <div class="row">
    <div class="col-sm-4">
      <project-picture [name]="project.name"></project-picture>
    </div>
    <div class="col-sm-8 font-20 project-name multiline-ellipsis">{{project.name}}</div>
  </div>
  <div class="row project-content">
    <div class="col-sm-12 font-18 project-description multiline-ellipsis">{{project.description}}</div>
    <div class="col-sm-12 font-16">Role: {{project.roleName}}</div>
    <div [hidden]="!project.monthDuration" class="col-sm-12 font-16">Months: {{project.monthDuration}}</div>
    <div [hidden]="project.monthDuration > 0" class="col-sm-12 font-16">Days: {{project.daysDuration}}</div>
  </div>
</empty-block>
