@import "../../../styles";

.project-content {
  padding-left: 10px;
  padding-right: 10px;
}

.project-name {
  padding-top: 10px;
  padding-right: 25px;
  padding-left: 0px;
  max-height: 66px;
}

.project-description {
  margin-bottom: 20px;
  max-height: 150px;
}

:host ::ng-deep .empty-block {
  margin-right: 45px !important;
  margin-left: 0 !important;
  cursor: pointer;
}
