<div class="project-nav">
  <div class="project-nav-panel">
    <a class="project-nav-item"
       routerLink="/project/{{projectId}}"
       routerLinkActive="project-nav-item-active"
       [routerLinkActiveOptions]="{exact: !match}">
      <span class="glyphicon glyphicon-th"></span>
    </a>
    <a class="project-nav-item"
       routerLink="/project/{{projectId}}/calendar"
       routerLinkActive="project-nav-item-active">
      <span class="glyphicon glyphicon-calendar"></span>
    </a>
    <a class="project-nav-item"
       routerLink="/project/{{projectId}}/analytics"
       routerLinkActive="project-nav-item-active">
      <span class="glyphicon glyphicon-stats"></span>
    </a>
  </div>
  <div class="project-nav-content">
    <ng-content></ng-content>
  </div>
</div>
