@import "../../../../styles";

:host {
  display: block;
  margin-right: -$side-offset;
  margin-left: -$side-offset;
}

.project-nav {
  position: relative;
}

.project-nav-panel {
  position: fixed;
  left: 0;
  top: $header-height;
  bottom: $footer-height;
  background-color: $primary-color;
  width: 60px;
  text-align: center;
}

.project-nav-content {
  margin-left: $side-offset - 50px;
  padding-left: 50px;
  overflow-x: auto;
  max-height: 83vh;
}


.project-nav-item {
  display: block;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 5px;
  line-height: 40px;
  text-decoration: none;
  color: $text-color;
  background-color: $primary-color;
  cursor: pointer;
}

.project-nav-item:hover {
  background-color: $dark-primary-color;
  color: $text-color;
  text-decoration: none;
}

.project-nav-item-active {
  background-color: $bg-color;
  color: $primary-color;
}

