@import "../../../styles";

:host {
  display: inline-block;
}

.project-picture {
  border-radius: 29px;
  color: $text-color;
  line-height: 59px;
  width: 59px;
  height: 59px;
  text-align: center;
  margin: 10px;
}
