.search-form-row {
  padding-bottom: 10px;
}

:host ::ng-deep .pcs-search-input,
:host ::ng-deep .pcs-action-button,
:host ::ng-deep .wide-stripe-block,
:host ::ng-deep .stripe-block,
:host ::ng-deep .pcs-select {
  width: 100% !important;
}

:host ::ng-deep .stripe-block {
  height: 200px !important;
}

:host ::ng-deep .stripe-block {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.issue-list-row {
  margin-right: 0 !important;
  padding-left: 0 !important;
}

:host ::ng-deep .empty-block {
  height: auto !important;
}
