<project-nav [projectId]="id" [match]="true">
  <secondary-project-nav [projectId]="id" [isAdmin]="isAdmin"></secondary-project-nav>
  <div class="row issue-list-row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-12 search-form-row">
          <input type="text" class="pcs-search-input" placeholder="Description..." [(ngModel)]="issueCriteria.description">
        </div>
        <div class="col-sm-4 search-form-row">
          <select class="pcs-select" [(ngModel)]="issueCriteria.statusId">
            <option *ngFor="let status of statuses" [ngValue]="status.id">{{status.name}}</option>
          </select>
        </div>
        <div class="col-sm-6 col-sm-offset-6 search-form-row">
          <button class="pcs-action-button" (click)="searchIssues()">Search</button>
        </div>
      </div>
      <issue-block class="wide-stripe-block" *ngFor="let issue of issues" [color]="getIssueType(issue)" [issue]="issue"></issue-block>
    </div>
    <div class="col-md-6">
      <div class="font-20">Last comments</div>
      <empty-block *ngFor="let c of comments">
        <div class="font-18">{{c.creationTime}}</div>
        <div class="font-18">{{c.userName}}</div>
        <div class="font-16">{{c.content}}</div>
      </empty-block>
    </div>
  </div>
</project-nav>
