<div class="dark-overlay">
  <div class="create-issue-form">
    <span class="glyphicon glyphicon-remove cancel-button" (click)="onCancel()"></span>
    <div class="row form-group">
      <div class="col-xs-4 text-right">Type</div>
      <div class="col-xs-8">
        <select class="pcs-select" #t (change)="onTypeSelect(t.value)">
          <option *ngFor="let t of types" [value]="t.id" [selected]="issue.type === t.id">{{t.name}}</option>
        </select>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-4 text-right">Priority</div>
      <div class="col-xs-8">
        <select class="pcs-select" #p (change)="onPrioritySelect(p.value)">
          <option *ngFor="let p of priorities" [value]="p.id" [selected]="issue.priority === p.id">{{p.name}}</option>
        </select>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-4 text-right">Status</div>
      <div class="col-xs-8">
        <select class="pcs-select" #s (change)="onStatusSelect(s.value)">
          <option *ngFor="let s of statuses" [value]="s.id" [selected]="issue.statusId === s.id">{{s.name}}</option>
        </select>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-4 text-right">Assignee</div>
      <div class="col-xs-8">
        <select class="pcs-select" #a (change)="onAssigneeSelect(a.value)">
          <option *ngFor="let a of members" [value]="a.userId" [selected]="issue.userId === a.userId">{{a.userName}}</option>
        </select>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-4 text-right">Description</div>
      <div class="col-xs-8">
        <textarea class="pcs-textarea" [(ngModel)]="issue.description"></textarea>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12"><button class="pcs-action-button" (click)="onCreate()">Create</button></div>
    </div>
  </div>
</div>
