@import "../../../../../styles";

.dark-overlay {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
}

.create-issue-form {
  position: relative;
  width: 500px;
  padding: 15px;
  border: 1px solid $primary-color;
  margin: 100px auto 0;
  background-color: $text-color;
}

.cancel-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
}
