<!--The content below is only a placeholder and can be replaced.-->
<header></header>
<alert></alert>
<div class="container-fluid bg content-full">
  <router-outlet></router-outlet>
</div>
<footer></footer>

