<project-nav [projectId]="id" [match]="true">
  <secondary-project-nav [projectId]="id" [isAdmin]="isAdmin"></secondary-project-nav>
  <div class="row">
    <div class="col-xs-12 h3">Team members</div>
  </div>
  <div class="row font-16" *ngFor="let member of members">
    <div class="col-xs-3">{{member.userName}}</div>
    <div class="col-xs-3">{{member.userEmail}}</div>
    <div class="col-xs-3">{{member.roleName}}</div>
    <div class="col-xs-3">{{member.admin ? 'Admin' : '--'}}</div>
  </div>
  <div class="row" *ngIf="isAdmin">
    <div class="col-xs-4"><input type="text" class="pcs-text-input" [(ngModel)]="newMember.userEmail"></div>
    <div class="col-xs-2">
      <select class="pcs-select" #r (change)="onRoleSelect(r.value)">
        <option *ngFor="let r of roles" [value]="r.id" [selected]="newMember.roleId === r.id">{{r.name}} {{r.admin ? 'Admin' : ''}}</option>
      </select>
    </div>
    <div class="col-xs-4"><button class="pcs-action-button" (click)="addMember()">Add</button></div>
  </div>
</project-nav>
