@import '../../../../styles.scss';

table.project-board {
  border-collapse: collapse;
}
table.project-board td {
  border: 1px solid $primary-text-color;
  width: 220px;
  max-width: 220px;
  height: 100px;
}
table.project-board tr:first-child td {
  border-top: 0;
}
table.project-board tr:last-child td {
  border-bottom: 0;
}
table.project-board tr td:first-child {
  border-left: 0;
}
table.project-board tr td:last-child {
  border-right: 0;
}

.project-board .cell-content {
  width: 100%;
  height: 100%;
}

.project-board .hot-task-cell {
  text-align: center;
}

.project-board .column-name {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 5px;
}

.project-board .button-block {
  margin: 5px 10px;
  position: relative;
}
