<project-nav [projectId]="id" [match]="true">
  <secondary-project-nav [projectId]="id" [isAdmin]="isAdmin"></secondary-project-nav>
  <table class="project-board" *ngIf="!!data && data.issues.length > 0">
    <tr>
      <td class="hot-task-cell"><span class="font-18">Expedite</span></td>
      <td *ngFor="let status of data.expedite">
        <div class="cell-content">
          <issue-block [color]="'red'" *ngFor="let issue of status.issues" [issue]="issue" (click)="openUpdateForm(issue)"></issue-block>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="cell-content">
          <div class="column-name font-18">Goals</div>
          <issue-block [color]="'yellow'" *ngFor="let goal of data.goals" [issue]="goal" (click)="openUpdateForm(goal)"></issue-block>
        </div>
      </td>
      <td *ngFor="let status of data.issues">
        <div class="cell-content">
          <div class="column-name font-18">{{status.name}}</div>
          <div class="button-block" *ngIf="status.order === 0">
            <button class="pcs-action-button" (click)="setShowForm(true)"><span class="glyphicon glyphicon-plus"></span>Add issue</button>
          </div>
          <issue-block [color]="status.order < data.issues.length - 1 ? 'blue' : 'green'" *ngFor="let issue of status.issues" [issue]="issue" (click)="openUpdateForm(issue)"></issue-block>
        </div>
      </td>
    </tr>
  </table>
  <create-issue-block *ngIf="showForm" [cancel]="setShowForm"></create-issue-block>
  <update-issue-block *ngIf="!!showIssue" [cancel]="cancelUpdateForm" [issue]="showIssue"></update-issue-block>
</project-nav>

