<div class="header">
  <div class="header-project">
    <a routerLink="/" class="pcs-logo"><img [src]="'assets/logo.png'"></a>
  </div>
  <div class="header-project">
    <select class="pcs-select header-project-select" *ngIf="currentProjectId > 0" #p (change)="onProjectSelect(p.value)">
      <option *ngFor="let project of projectsData" [value]="project.id" [selected]="currentProjectId === project.id">{{project.name}}</option>
    </select>
  </div>

  <div class="header-auth" *ngIf="isAuthenticated">
    <div class="header-block">
      <a routerLink="/notifications" class="ntf-link" [ngClass]="{ntfhasupdates: hasNotifications}">
        <span class="glyphicon glyphicon-bell"></span>
      </a>
    </div>
    <div class="header-block with-divider">
      <a class="mp-link" routerLink="/myprofile">
        <span class="glyphicon glyphicon-user"></span><span class="font-18-light">{{userData.name}} </span>
      </a>
      <a class="logout-link" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span></a>
    </div>
  </div>
</div>
