@import '../../../styles';

.header {
  padding-left: $side-offset;
  padding-right: $side-offset;
  line-height: $header-height;
  height: $header-height;
  background-color: $dark-primary-color;
  position: fixed;
  box-shadow: 0 0 7.4px 2.6px rgba(80, 80, 80, 0.41);
  right: 0;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-project {
  float: left;
}

.header-project-select {
  margin-left: 20px;
}

:host ::ng-deep .logo:hover {
  text-decoration: none;
  cursor: pointer;
}

:host ::ng-deep .logo {
  cursor: pointer;
}

.header-auth {
  float: right;
  color: $light-text-color;

  .header-block {
    display: inline-block;
  }

  .glyphicon {
    font-size: 18px;
  }

  .with-divider {
    border-left: 1px solid $light-text-color;
    margin-left: 15px;
    padding-left: 15px;
    margin-top: 5px;
    height: 44px;
    line-height: 44px;
  }

  .logout-link,
  .ntf-link,
  .mp-link {
    color: $light-text-color;
    cursor: pointer;
    text-decoration: none;
  }

  .logout-link:hover,
  .ntf-link:hover,
  .mp-link:hover {
    color: $text-color !important;
    text-decoration: none;
    .font-18-light {
      color: $text-color !important;
    }
  }

  .ntfhasupdates {
    display: inline-block;
    position: relative;
  }

  .ntfhasupdates::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 5px;
    border: 4px solid $danger-color;
    border-radius: 4px;
  }
}
