<h2>Demo page</h2>
<div class="container">

  <div class="row">
    <h2>Colors</h2>
    <div class="col-sm-12 dark-primary-bg" style="height: 40px;"></div>
    <div class="col-sm-12 primary-bg" style="height: 40px;"></div>
    <div class="col-sm-12 light-primary-bg" style="height: 40px;"></div>
    <div class="col-sm-12 accent-bg" style="height: 40px;"></div>
    <div class="col-sm-12 danger-bg" style="height: 40px;"></div>
    <div class="col-sm-12 gray-blue-color" style="height: 40px;"></div>
  </div>
  <div class="row">
    <h2>Typography</h2>
    <p class="font-32">Roboto Medium 32pt #212121</p>
    <p class="font-20">Roboto Regular 20pt #212121</p>
    <p class="font-18">Roboto Regular 18pt #8c8c8c</p>
    <p class="font-18-light">Roboto Regular 18pt #e4e4e4</p>
    <p class="font-16">Roboto Light 16pt #757575</p>
  </div>
  <div class="row">
    <h2>UI Elements</h2>
    <project-picture [name]="'Project name'"></project-picture>
    <p>
      <button class="pcs-action-button">button</button>
      <button class="pcs-action-button" [disabled]="true">button</button>
    </p>
    <p>
      <button class="pcs-danger-button">button</button>
      <button class="pcs-danger-button" [disabled]="true">button</button>
    </p>
    <div class="col-sm-12">
      <project-block *ngFor="let project of projects" [project]="project"></project-block>
    </div>
    <div class="col-sm-12">
      <stripe-block>Some text</stripe-block>
      <stripe-block [color]="'blue'">Some text</stripe-block>
      <stripe-block [color]="'green'">Some very very very very very long text</stripe-block>
      <stripe-block [color]="'yellow'">Some text</stripe-block>
    </div>
    <div class="col-sm-12">
      <input type="text" class="pcs-search-input" value="SEARCH">
      <select class="pcs-select">
        <option>1</option>
        <option>2</option>
        <option>4</option>
      </select>
    </div>
    <div class="col-sm-12">
      <textarea class="pcs-textarea">Input new text...</textarea>
    </div>
  </div>
</div>

