<div class="row">
  <div class="col-sm-12 font-32 home-outer-header"><span class="home-header">Projects</span></div>
  <div class="col-sm-12">
    <project-block *ngFor="let project of projects" [project]="project"></project-block>
    <create-project-block></create-project-block>
  </div>
</div>
