<stripe-block [color]="color">
  <div class="issue-wrapper">
    <div>{{issue.description.substr(0, 50) + (issue.description.length > 50 ? '...' : '')}}</div>
    <div class="issue-dev" *ngIf="issue.userName">
      <span class="font-16">{{issue.userName}}</span>
    </div>
  </div>
</stripe-block>
