@import "../../../styles";

.create-project-button {
  text-align: center;
  cursor: pointer;
  height: 100%;
  padding-top: 50px;
}

.create-project-icon {
  font-size: 100px;
  color: $gray-color;
}

.create-project-label {
  padding-bottom: 20px;
}

:host ::ng-deep .empty-block {
  margin-left: 0 !important;
}
