<empty-block>
  <div class="row" *ngIf="showForm">
    <div class="col-sm-12">
      <input class="pcs-text-input" type="text" [(ngModel)]="project.name" placeholder="Project name">
    </div>
    <div class="col-sm-12">
      <textarea class="pcs-textarea" [(ngModel)]="project.description" placeholder="Project description"></textarea>
    </div>
    <div class="col-sm-6">
      <button class="pcs-action-button" (click)="createProject()">Create</button>
    </div>
    <div class="col-sm-6">
      <button class="pcs-danger-button" (click)="cancelForm()">Cancel</button>
    </div>
  </div>
  <div class="row create-project-button" *ngIf="!showForm" (click)="openForm()">
    <div class="col-sm-8 col-sm-offset-2 font-20 create-project-label">Create new project</div>
    <div class="col-sm-12"><span class="glyphicon glyphicon-plus create-project-icon"></span></div>
  </div>
</empty-block>
