@import '../../../styles';

.error-alert {
  position: fixed;
  top: 0;
  left: calc(50% - 100px);
  width: 200px;
  padding: 20px 10px 10px;
  background-color: $danger-color;
  color: $text-color;
  font-size: 16px;
  z-index: 2000;
}
.cancel-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
}
