@import "../../../../styles";

:host {
  display: block;
  float: left;
}

.red-stripe {
  background-color: $danger-color;
}

.green-stripe {
  background-color: $green-color;
}

.yellow-stripe {
  background-color: $yellow-color;
}

.blue-stripe {
  background-color: $dark-primary-color;
}
