<div class="login-form">
  <div>
    <input class="pcs-text-input" type="text" [(ngModel)]="loginData.email" placeholder="Email">
  </div>
  <div>
    <input class="pcs-text-input" type="password" [(ngModel)]="loginData.password" placeholder="Password">
  </div>
  <div>
    <button class="pcs-action-button" (click)="login()">Login</button> or <a routerLink="/register">Register</a>
  </div>
</div>


