<project-nav [projectId]="id" [match]="true">
  <secondary-project-nav [projectId]="id" [isAdmin]="isAdmin"></secondary-project-nav>
  <div class="row">
    <div class="col-xs-12 h3">Project info</div>
  </div>
  <div class="row">
    <div class="col-xs-2 font-16">Name:</div>
    <div class="col-xs-6"><input type="text" class="pcs-text-input" [(ngModel)]="projectInfo.name"></div>
  </div>
  <div class="row">
    <div class="col-xs-2 font-16">Description:</div>
    <div class="col-xs-6"><textarea class="pcs-textarea" [(ngModel)]="projectInfo.description"></textarea></div>
    <div class="col-xs-offset-2 col-xs-6"><button class="pcs-action-button" (click)="saveProjectInfo()">Save</button></div>
  </div>
  <div class="row">
    <div class="col-xs-12 h3">Board statuses</div>
  </div>
  <div class="row font-16" *ngFor="let status of statuses">
    <div class="col-xs-1"><strong>{{status.order + 1}}</strong></div>
    <div class="col-xs-4">{{status.name}}</div>
  </div>
  <div class="row">
    <div class="col-xs-4"><input type="text" class="pcs-text-input" [(ngModel)]="status.name"></div>
    <div class="col-xs-4"><button class="pcs-action-button" (click)="createStatus()">Create</button></div>
  </div>
</project-nav>
