@import '../../styles';

.ntf-outer-header {
  margin-top: 55px;
  margin-bottom: 35px;
}

.ntf-header {
  border-bottom: 2px solid $dark-primary-color;
}

.empty-block-container {
  width: 100% !important;
}

:host ::ng-deep .empty-block {
  height: auto !important;
  width: 100% !important;
  margin: 5px 0 !important;
}
