<div class="row">
  <div class="col-sm-12 font-32 ntf-outer-header"><span class="ntf-header">Notifications</span></div>
  <div class="col-sm-12">
    <empty-block *ngFor="let ntf of notifications" class="empty-block-container">
      <div class="font-18 text-center">{{ntf.time}}</div>
      <div class="font-16"><strong>Project: </strong>{{ntf.projectName}}</div>
      <div class="font-16">{{ntf.description}}</div>
    </empty-block>
    <div class="font-18 text-center" *ngIf="!notifications.length">No notifications today</div>
  </div>
</div>
