<project-nav [projectId]="id">
  <div class="row calendar-tab">
    <div class="col-sm-6">
      <div class="calendar">
        <div class="calendar-navs">
          <div class="month-nav">
            <button class="pcs-action-button" (click)="prevMonth()">&lt;</button>
            <span class="p4">{{currentDate.format('MMMM')}}</span>
            <button class="pcs-action-button" (click)="nextMonth()">&gt;</button>
          </div>
          <div class="year-nav">
            <button class="pcs-action-button" (click)="prevYear()">&lt;</button>
            <span class="p4">{{currentDate.format('YYYY')}}</span>
            <button class="pcs-action-button" (click)="nextYear()">&gt;</button>
          </div>
        </div>
        <div class="month-grid">
          <div class="day-names">
            <div *ngFor="let name of dayNames" class="day-name p9">{{name}}</div>
          </div>
          <div class="weeks">
            <div *ngFor="let week of weeks" class="week">
              <ng-container *ngFor="let day of week">
                <div class="week-date disabled" *ngIf="!isSelectedMonth(day.mDate)">
                  <span class="date-text">{{day.mDate.date()}}</span>
                </div>
                <div class="week-date enabled"
                     *ngIf="isSelectedMonth(day.mDate)"
                     (click)="selectDate(day)"
                     [ngClass]="{today: day.today, selected: day.selected, hasEvents: day.hasEvents}">
                  <span class="date-text">{{day.mDate.date()}}</span>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6" *ngIf="!!selectedDate">
      <div class="font-20 text-center current-date">{{selectedDate.mDate.format('DD.MM.YYYY')}}</div>
      <button class="pcs-action-button add-event-button" (click)="showEventForm(true)" *ngIf="isAdmin">Create new event</button>
      <empty-block *ngFor="let event of showEvents" (click)="showEventForm(true, event)" class="empty-block-container">
        <div class="font-18">{{event.time}}</div>
        <div class="font-16">{{event.description}}</div>
      </empty-block>
    </div>
  </div>
  <div class="dark-overlay" *ngIf="!!currentEvent">
    <div class="save-event-form">
      <span class="glyphicon glyphicon-remove cancel-button" (click)="showEventForm(false)"></span>
      <div class="h4 text-center">New event</div>
      <div class="row form-group">
        <div class="col-xs-4 text-right">Time</div>
        <div class="col-xs-8">
          <input type="text" class="pcs-text-input" [(ngModel)]="currentEvent.time">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-4 text-right">Description</div>
        <div class="col-xs-8">
          <textarea class="pcs-textarea" [(ngModel)]="currentEvent.description"></textarea>
        </div>
      </div>
      <div class="row" *ngIf="currentEvent.id > 0">
        <div class="col-xs-6"><button class="pcs-action-button" (click)="onSaveEvent()">Save</button></div>
        <div class="col-xs-6"><button class="pcs-danger-button" (click)="onEventDelete()">Delete</button></div>
      </div>
      <div class="row" *ngIf="!currentEvent.id">
        <div class="col-xs-12 text-center"><button class="pcs-action-button" (click)="onSaveEvent()">Save</button></div>
      </div>
    </div>
  </div>
</project-nav>
