@import "../../../styles";

$dayBase: 60px;

:host ::ng-deep .empty-block {
  height: auto !important;
  width: 100% !important;
}

.calendar-tab {
  margin-top: 20px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.add-event-button {
  width: 100% !important;
  margin: 5px;
}

.current-date {
  padding-bottom: 10px;
}

.empty-block-container {
  width: 100% !important;
  cursor: pointer;
}

.calendar {
  display: block;
  width: $dayBase * 7;
  margin: 0 auto;

  .pcs-action-button {
    max-width: 50px !important;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .calendar-navs {

  }

  .month-nav, .year-nav {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $primary-text-color;
    font-size: 20px;
  }

  .month-grid {
    .day-names {
      display: flex;
      flex-direction: row;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      font-weight: bold;
      color: $primary-text-color
    }

    .weeks {
      display: flex;
      flex-direction: column;
    }

    .week {
      display: flex;
      flex-direction:row;
    }

    .week-date, .day-name {
      height: $dayBase;
      width: $dayBase;
      position: relative;
      line-height: $dayBase;
      text-align: center;

      .date-text {
        z-index: 10;
        font-size: 16px;
        color: $secondary-text-color
      }

      &::after {
        content: '';
        height: $dayBase * 0.9;
        width: $dayBase * 0.9;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        transition: background-color 150ms linear, color 150ms linear;
        z-index: 1;
      }

      &.enabled {
        cursor: pointer;
        &:hover {
          &:after {
            background-color: $divider-color;
            opacity: 0.4;
          }
        }
      }
      &.selected {
        &:after {
          background-color: $primary-color !important;
          opacity: 0.4;
        }
        &:hover {
          &:after {
            background-color: $primary-color !important;
          }
        }
      }
      &.hasEvents {
        &:after {
          background-color: $light-primary-color;
          opacity: 0.4;
        }
        &:hover {
          &:after {
            background-color: $light-primary-color;
          }
        }
      }
      &.disabled {
        .date-text {
          color: $light-text-color !important;
        }
      }
    }

    .today {
      font-weight: bold;
    }
  }

}

.dark-overlay {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
}

.cancel-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
}

.save-event-form {
  position: relative;
  width: 500px;
  padding: 15px;
  border: 1px solid $primary-color;
  margin: 100px auto 0;
  background-color: $text-color;
}
