@import "../../../../styles";

:host {
  display: block;
}

.secondary-project-nav {
  padding-top: 20px;
  padding-bottom: 10px;
}

.secondary-project-nav-item, .secondary-project-nav-item:visited {
  display: inline-block;
  font-size: 20px;
  margin-right: 50px;
  text-decoration: none;
  color: $secondary-text-color;
  cursor: pointer;
}

.secondary-project-nav-item:hover, .secondary-project-nav-item:active {
  text-decoration: none;
  color: $primary-text-color;
}

.secondary-project-nav-item-active {
  color: $primary-text-color !important;
  border-bottom: 2px solid $dark-primary-color;
}

