<div class="secondary-project-nav">
  <a class="secondary-project-nav-item"
     routerLink="/project/{{projectId}}/board"
     routerLinkActive="secondary-project-nav-item-active">
    Board
  </a>
  <a class="secondary-project-nav-item"
     routerLink="/project/{{projectId}}/issue-list"
     routerLinkActive="secondary-project-nav-item-active">
    Issue list
  </a>
  <a class="secondary-project-nav-item"
     routerLink="/project/{{projectId}}/team"
     routerLinkActive="secondary-project-nav-item-active">
    Team
  </a>
  <a *ngIf="isAdmin" class="secondary-project-nav-item"
     routerLink="/project/{{projectId}}/settings"
     routerLinkActive="secondary-project-nav-item-active">
    Settings
  </a>
</div>
