<div class="register-form">
  <div>
    <input class="pcs-text-input" type="text" [(ngModel)]="loginData.email" placeholder="Email">
  </div>
  <div>
    <input class="pcs-text-input" type="password" [(ngModel)]="loginData.password" placeholder="Password">
  </div>
  <div>
    <input class="pcs-text-input" type="password" [(ngModel)]="confirmPassword" placeholder="Confirm password">
  </div>
  <div>
    <button class="pcs-action-button" (click)="register()">Register</button><a routerLink="/login">Back to login</a>
  </div>
</div>

