<div class="dark-overlay">
  <div class="update-issue-form">
    <span class="glyphicon glyphicon-remove cancel-button" (click)="onCancel()"></span>
    <div class="row">
      <div class="col-xs-6">
        <div class="font-20 text-center form-header">Issue details</div>
        <div class="row form-group">
          <div class="col-xs-4 text-right">Type</div>
          <div class="col-xs-8">
            <select class="pcs-select" #t (change)="onTypeSelect(t.value)">
              <option *ngFor="let t of types" [value]="t.id" [selected]="issue.type === t.id">{{t.name}}</option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-4 text-right">Priority</div>
          <div class="col-xs-8">
            <select class="pcs-select" #p (change)="onPrioritySelect(p.value)">
              <option *ngFor="let p of priorities" [value]="p.id" [selected]="issue.priority === p.id">{{p.name}}</option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-4 text-right">Status</div>
          <div class="col-xs-8">
            <select class="pcs-select" #s (change)="onStatusSelect(s.value)">
              <option *ngFor="let s of statuses" [value]="s.id" [selected]="issue.statusId === s.id">{{s.name}}</option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-4 text-right">Assignee</div>
          <div class="col-xs-8">
            <select class="pcs-select" #a (change)="onAssigneeSelect(a.value)">
              <option *ngFor="let a of members" [value]="a.userId" [selected]="issue.userId === a.userId">{{a.userName}}</option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-xs-4 text-right">Description</div>
          <div class="col-xs-8">
            <textarea class="pcs-textarea" [(ngModel)]="issue.description"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6"><button class="pcs-action-button" (click)="onSave()">Update</button></div>
          <div class="col-xs-6"><button class="pcs-danger-button" (click)="onDelete()">Delete</button></div>
        </div>
      </div>
      <div class="col-xs-6 comments-part">
        <div class="font-20 text-center">Comments</div>
        <div class="comments-block">
          <empty-block *ngFor="let c of comments">
            <div class="font-18">{{c.creationTime}}</div>
            <div class="font-18">{{c.userName}}</div>
            <div class="font-16">{{c.content}}</div>
          </empty-block>
        </div>
        <textarea class="pcs-textarea" [(ngModel)]="comment.content" placeholder="Add your comment..."></textarea>
        <button class="pcs-action-button" (click)="addComment()">Add comment</button>
      </div>
    </div>

  </div>
</div>
